.about-container {
    height: fit-content;
    position: relative;
   
   background-color: bisque;
}



.about-description {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 20px;
    margin: 2em;
    border-radius: 20px;
    padding: 10em;
    color: #00203f;
    position: relative;
    bottom: 5em;
}

.about-title {
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 2em;
    text-align: center;


}